<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun-sheet0_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{96,59}</string>
                <key>textureRect</key>
                <string>{{361,143},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun-sheet0_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,86}</string>
                <key>spriteSourceSize</key>
                <string>{164,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-sheet0_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,92}</string>
                <key>spriteSourceSize</key>
                <string>{163,92}</string>
                <key>textureRect</key>
                <string>{{89,1},{163,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-sheet0_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,92}</string>
                <key>spriteSourceSize</key>
                <string>{153,92}</string>
                <key>textureRect</key>
                <string>{{183,1},{153,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-sheet0_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,88}</string>
                <key>spriteSourceSize</key>
                <string>{140,88}</string>
                <key>textureRect</key>
                <string>{{277,1},{140,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-sheet0_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,85}</string>
                <key>spriteSourceSize</key>
                <string>{131,85}</string>
                <key>textureRect</key>
                <string>{{96,166},{131,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun-sheet0_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,70}</string>
                <key>spriteSourceSize</key>
                <string>{93,70}</string>
                <key>textureRect</key>
                <string>{{1,167},{93,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun-sheet0_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,69}</string>
                <key>spriteSourceSize</key>
                <string>{92,69}</string>
                <key>textureRect</key>
                <string>{{367,71},{92,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun-sheet0_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,68}</string>
                <key>spriteSourceSize</key>
                <string>{93,68}</string>
                <key>textureRect</key>
                <string>{{367,1},{93,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun-sheet0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,66}</string>
                <key>spriteSourceSize</key>
                <string>{95,66}</string>
                <key>textureRect</key>
                <string>{{229,156},{95,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun-sheet0_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,62}</string>
                <key>spriteSourceSize</key>
                <string>{96,62}</string>
                <key>textureRect</key>
                <string>{{297,143},{96,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gun.png</string>
            <key>size</key>
            <string>{461,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2220dd4b6c3028f71b88158e8d914330:7571c1d067f206eb44cfaee5651961bd:e66248eae933b66f13da2e0bb59663f2$</string>
            <key>textureFileName</key>
            <string>gun.png</string>
        </dict>
    </dict>
</plist>
