<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{168,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{168,174}</string>
                <key>textureRect</key>
                <string>{{171,1},{168,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{168,174}</string>
                <key>textureRect</key>
                <string>{{341,1},{168,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{168,174}</string>
                <key>textureRect</key>
                <string>{{511,1},{168,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{168,174}</string>
                <key>textureRect</key>
                <string>{{681,1},{168,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{168,174}</string>
                <key>textureRect</key>
                <string>{{851,1},{168,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{168,174}</string>
                <key>textureRect</key>
                <string>{{1021,1},{168,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wheel.png</string>
            <key>size</key>
            <string>{1190,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2384fd5203aedf4aca954b1af0d4667c:53bc5d0a2a62f569934580cf617622d5:b0da72d6613c60785488895a25b52f17$</string>
            <key>textureFileName</key>
            <string>wheel.png</string>
        </dict>
    </dict>
</plist>
