<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-reset0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-reset1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{86,1},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn-reset.png</string>
            <key>size</key>
            <string>{170,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9db81d8c44cc7e54f15b888fc29a8409:f1b494fbefb8cef589539dac4acd55cd:eccc999fd911039e70dd0bff82020e28$</string>
            <key>textureFileName</key>
            <string>btn-reset.png</string>
        </dict>
    </dict>
</plist>
