<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnfire-sheet0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,69}</string>
                <key>spriteSourceSize</key>
                <string>{101,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnfire-sheet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,69}</string>
                <key>spriteSourceSize</key>
                <string>{101,69}</string>
                <key>textureRect</key>
                <string>{{104,1},{101,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn-fire.png</string>
            <key>size</key>
            <string>{206,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc97de0d5f5543239a9a92402f9a2d68:fd4c552f95e8a6cd0f30c8352fe18690:4d76be61d4a22054b497b2ff2dbdbf46$</string>
            <key>textureFileName</key>
            <string>btn-fire.png</string>
        </dict>
    </dict>
</plist>
