<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>best-msg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,40}</string>
                <key>spriteSourceSize</key>
                <string>{174,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{101,43},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{101,128},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{186,1},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{186,86},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1,43},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1,144},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>completeBox.png</string>
            <key>size</key>
            <string>{270,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:387afa2a8e2918bcdace6bf2a9b4d657:e3cb37e7cfda1313dfb136bd525014fc:784c827f4adbad12cf83b86895f37c23$</string>
            <key>textureFileName</key>
            <string>completeBox.png</string>
        </dict>
    </dict>
</plist>
