<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{84,152}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{347,1},{84,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{160,154}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{191,1},{160,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{188,168}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crack.png</string>
            <key>size</key>
            <string>{432,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bbbc98cb8b7fbb521e7de2f8ebfbecb:cfb7e6f4d0ca52ca32f6cdba7a15fb4e:b2ec0fbd183b94f8922d61849926bb05$</string>
            <key>textureFileName</key>
            <string>crack.png</string>
        </dict>
    </dict>
</plist>
