<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>index-enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{299,61}</string>
                <key>spriteSourceSize</key>
                <string>{303,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{299,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>index-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,213}</string>
                <key>spriteSourceSize</key>
                <string>{408,213}</string>
                <key>textureRect</key>
                <string>{{1,64},{408,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{410,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f5094f3289cb7bb370e7794c9f0ecdd:612bf8f158f0fdb868093882022a6650:5aec2f82430a9c16d2c03f4ae551aae0$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
